main{
  background-color: hsl(210, 100%, 90%);

}

div{
background-color:hsl(240, 80%, 92%);
position: relative;
margin-bottom: ;
}

#title{


}

#img-div{
background-color:hsl(210, 100%, 92%);
padding: 50px;
}

#img-caption{

}

#finleys-eyes{
  position: relative;
  margin-top: 20px;

}

#tribute-info{
  position: relative;
  margin-top: 40px;
}

footer{
  margin-top: -18PX;
  background-color: hsl(210, 100%, 90%);
}
